.counter-container {
  touch-action: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  outline: 1px solid white;
  width: 100px;
  height: 75px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 12px;
}

.number {
  height: 25px;
  text-align: center;
  outline: 1px solid red;
}
.increment {
  height: 25px;
  text-align: center;
  outline: 3px solid green;
}
.decrement {
  height: 25px;
  text-align: center;
  outline: 3px solid green;
}
